# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native build
ios/
android/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# Android / iOS Keystores
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# IDE / tools
.idea/
*.iml

# Test / example
app-example

service-account-fcm.json
service-account.json